body {
    margin: 0;
    padding: 0;
    background-image: url("../images/prism.png");
}

p {
    color: black;
}

#navbar {
    background-color: #ffffff;
    display: block;
    position: relative;
    width: auto;
    padding: 15px 100px;
}

.myName {
    background-color: teal;
    float: left;
    margin: 0 auto;
    padding: 4px 20px;
}

.myName a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

#navbar ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    text-align: right;
}

#navbar ul li {
    display: inline;
    padding: 16px 10px;
}

#navbar ul li a {
    text-decoration: none;
    color: grey;
    top: 0;
}

#content {
    background-color: grey;
    width: 960px;
    padding: 20px;
    margin: 10px;
    display: inline-block;

}

#aboutMe {
    background-color: #ffffff;
    width: 960px;
    padding: 10px;
    line-height: 30px;
}

footer {
    text-align: center;
    display: block;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: #666666;
    padding: 1rem;
    /*padding: 0 0 20px; */
    /*padding-top: 10px; */
}

footer small {
    color: white;
}